body{
    height: 2000px;
    background: #03406A;
    color: rgb(1, 36, 59);
}

a{
  color: #000000;
}

div.card {
  margin: 5%;
  background: #3E94D1;
  border-color: #03406a;
 }

div.card.card-img-top {
  padding: 5%;

}

ion-icon {
  font-size: 48px;
}