body{
    height: 2000px;
    background: #bef0ff;
    color: #03406a;
}

a{
  color: #03406a;
}

div.text {
  margin: 5%;
  color: #03406a;
}

div.list{
  margin: 5%;
  color:#03406a;
}

div.list a{
  position:relative;
  bottom: 1em; 
  color:  #03406a;
}


div.card {
  margin: 5%;
  background:#53baff;
  border-color:#bef0ff;
 }

div.card.card-img-top {
  padding: 5%;

}

ion-icon {
  font-size: 48px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #03406a;;
    border-color: #03406a;
    color: #bef0ff;
}